#map{
  height: 1000px;
  width: 1000px;
}

.map-content{
  display: flex;
  justify-content:center;
  align-items: center;
  padding:30px;
  background-color:  #FFF;
  margin: 0 60px;
}

.registered-table{
  margin-left: 50px;
  border: 1px solid #dedede;
  width: 35vh;
  margin-right:50px;
  
}


.registered_address{
  background-color:darkolivegreen;
  color: white;
  height:60px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.registered_location {
  background-color: dimgrey;
  color:white;
  text-align: center;
  font-weight: bold;
  height: 50px;
}

.map-improvement {
  margin-left: 50px;
  margin-top:100px;
  
}


.map-red-btn {
  background-color: #ea352d;
  color: white;
  font-size: 25px;
  padding:10px;
  margin-bottom: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.map-red-btn:hover {
  opacity: 0.6;
}

.map-while {
  margin:20px;

}

.map-back {
  background-color: #ea352d;
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.map-back:hover {
  opacity: 0.6;
}

.map-back:hover {
  border-bottom-color: transparent;
  transform: translateY(0.1875em);
}
@media (max-width: 599px) {

  .map-content{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding:30px;
    background-color:  #FFF;
    margin: 0 1px;
  }
  
  #map{
    height: 350px;
    width: 350px;
    margin-bottom: 30px;
  }

  .item-box-img {
    height: 45vh;
    width: 71vw;
    min-height: 500px;
    background-color: rgb(205, 202, 202);
    object-fit: contain;
}

.item-box {
  background-color: #FFF;
  width: 90vw;
  min-width: 100vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
}

.comment-box {
  width: auto;
  margin: 5vh 0;
  text-align: auto;
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
}
.map-btn2 {
  font-size: 19px;
  padding: 2vh 2vw;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #ea352d;
}

.map-improvement {
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 150px;
}
.map-red-btn {
  background-color: #ea352d;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
  margin-left: 40px;
}

.map-back {
  margin-left: 40px;
  background-color: #ea352d;
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}
}