<% comments.each  do |comment| %>
<div>
  <p>
    <strong class="comment-name"><%= comment.user.nickname %></strong>
      投稿日:<%=  comment.created_at.to_s(:datetime) %>
       <%= comment.text %>
  </p>
  </div>
  <% end %>