<% comments.each  do |comment| %>
  <p>
    <strong class="comment-name"><%= comment.user.nickname %></strong>
      <%= "日付: #{comment.created_at.to_s(:datetime)}" %>:
       <%= comment.text %>
  <% end %>
  </p>