<% comments.each  do |c| %>
  <div>
  <br>
    <strong class="comment-name"><%= c.user.nickname %></strong>
      投稿日:<%=  c.created_at.to_s(:datetime) %>
      <%= c.text %>
  <hr>
  </div>
<% end %>