.full-page{
  position: relative;
}


.car-chaser-contents {
  background-color: #696969;
  width: 100vw;
  bottom:0;
  margin-top: 300px;
}
.footer-link {
  color:white;
  text-decoration: none;
}

.footer-content-head {
  color: white;
}

@media (max-width: 599px) {
  .car-chaser-contents{
    width: 100%;
    background-color: #696969;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    font-size: 5px;
  }
}