.second-footer{
 
  height:60px;
  width: 100vw;
 
  text-align: center;
  text-align: center;
  position: relative;
   
}

.car-chaser-contents2 {
  height:80px;
  width: 100vw;
  text-align: center;
  text-align: center;
  position: relative;
  background-color: #696969;
  margin-right: 18vh;
  position:fixed;
  bottom: 0;
}
.footer-link {
  color:white;
  text-decoration: none;
}

.footer-content-head {
  color: white;
}

@media (max-width: 599px) {
  second-footer{
    
    width: 100vw;
    background-color: #696969;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-top: auto;
    position: fixed;
      bottom: 0;
  }
}