<div class="footer2">
<div class="footer">
<div class="car-chaser-contents">
  <h2 class="footer-content-head">CAR CHASERについて</h2>
  <ul>
        <li><%= link_to 'サービス概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
  </ul>
</div>
</div>
</div>
