.wrapper{
  display: flex;
  max-height: 100vh;
  
}

.feature-contents{
  max-height: 80%;
  width: 100%;

}



.title-contents {
  background-image:image-url('../images/car-1835506_1920.jpg');
  width: 100%;
  height: 110vh;
  padding-top: 180px;
}

.information-list {
    display: flex;
}

.information-btn-text{
  width:300px;
  text-align: center;
  font-weight: bold;color: white;
  font-size: 30px;
  display: block;
  background-color: red;
  border-radius:10px;
  margin-top: 400px;
  margin-left: 40px;
  padding: 10px;
}

.information-btn-text:hover{opacity: 0.9; background-color: red;}

.service-title {
  font-size: 55px;
  padding-top: 120px;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);

}


.sub-title{
  text-align: center;
  font-size: 40px;
  margin-left: 50px;
  opacity: 0.9;color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.top-img {
  height: 800px;
  width: 100%;
  object-fit: cover;
} 


.menu-pict{
  width: 300px;
  height: 20vh;
}

.list-choise{
  display: flex;
  flex-direction: column;
  padding: 0 40px 100px 40px; 
}

.GPS-list{
  color:white;
  text-decoration: none;
  font-size: 34px;
}

.chat-list{
  color:white;
  text-decoration: none;
  font-size: 34px;
}

.item-contents {
  background-color:#DCDCDC;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}

.item-name {
  font-size: 2.5vh;
}

.item-img{
  width: 33vh;
  height: 33vh;
}

html{
  height: 100vh;
  width: 100vw;
}

.purchase-btn {
  width: 120px;
  background:#556B2F;
  text-align: center;
  border-radius: 4%;
  bottom: 80px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 100%;
}

.page-content {
margin-top:200px;
bottom:0;
text-align: center;
bottom:100px;}

.current   {
  display: inline;
padding:10px 15px;
border:1px #ccc solid;color:#000053;
border-radius: 5px / 5px;
}

.current a:hover {color: #fff;text-decoration: none;background-color: #006400;}

.pagination {
  justify-content: center;
}
.pagination a {
  display: inline;
  padding:10px 15px;
  border:1px #ccc solid;color:#000053;
  border-radius: 5px / 5px;;
}

.pagination a:hover {color: #fff;text-decoration: none;background-color: #006400;}

.previous_page  {
  display: inline;
  padding:10px 15px;
  border:1px #ccc solid;color:#000053;
  border-radius: 5px / 5px;
}

@media (max-width: 1500px) {
  .inner {
    margin: 0 auto;
  }

  .title-contents {
    font-size: 24px;
}

.page-content {
 margin-top:1000px;
bottom:0;
text-align: center;
bottom:100px;}
    
}


@media (max-width: 1170px) {
  .inner {
    margin: 0 auto;
  }

  .title-contents {
    font-size: 24px;
  }

  .page-content {
    margin-top:1500px;
    bottom:0;
    text-align: center;
    bottom:100px;}
    
}


@media (max-width: 820px) {

  .service-title {
    font-size: 35px;
}

.sub-title {
  font-size: 30px;
}

.page-content {
  margin-top:3000px;
  bottom:0;
  text-align: center;
  bottom:100px;}

}