.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
}

.item-contents>.title {
  color: #006400;
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 5px rgba(2, 32, 2, 0.2);
  opacity: 0.9;
  font-family: 'Passion One', cursive;
}

.item-lists{
  width: calc(100% - 300px / 3);
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-right:45px;
}

.item-lists>.list{
  padding: 1vh;
  width: 37vh;
  margin-top: 15px;
  margin-right: 5px;
}
.item-img {
  width: 40vh;
}

.item-name {
  font-size: 2vh;
  font-family: 'Kameron', serif;
}

.item-info {
  color: black;
  padding: 1vw;
}

.item-date {
  font-family: 'Passion One', cursive;
}



a {
  text-decoration: none;
}

.item-img-content{
  max-height: 100%;
  max-width:100%;
}

.search-form {
  display: flex;
  text-align: center;
  padding-top: 32px;
  justify-content: center;
}

.search-form .search-input {
  width: 330px;
  height: 5vh;
  margin-right: 10px;
  border:1px #ccc solid;color:#000053;
  border-radius: 3px;
}

.search-form .search-btn {
  width: 60px;
  border:1px #ccc solid;color:#000053;
  background-color: #3CB371;
  border-radius: 5px;
  color: white;
}

.search-form .search-btn:hover {color: #fff;text-decoration: none;background-color: #006400;}

@media (max-width: 820px) {

.search-form .search-input {
  width: 200px;
  height: 5vh;
  margin-right: 6px;
  border:1px #ccc solid;color:#000053;
  border-radius: 3px;
  margin-bottom: 10px;
}
}